@media (min-width: 1200px) {
	.container {
		max-width: 1040px;
	}
	.blogPage {
		.container {
			max-width: 1180px;
		}
	}
}

@media (max-width: 1199px) {
	.home-header {
		height: auto;
	}
}

@media (max-width: 991px) {

	.container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.navbar {
		padding: 15px;

		.navbar-collapse {
			margin-top: 24px;

			.navbar-nav {
				align-items: flex-start;

				.nav-item {
					.nav-link {
						padding: 10px 0;
						margin: 2px 0;
					}
				}
				&--social {
					border-top: 1px solid $gray-500;
					margin-top: 12px;

					.nav-item {
						.nav-link {
							padding: 10px 16px;
							margin: 15px 0 0;
						}
						.divide {
							display: none;
						}
					}
				}
			}
		}
	}

	.home-header {
		.container {
			max-width: none;
			width: 100%;
		}
		p {
			padding-right: 15%;
		}
		&__form {
			max-width: 500px;
			margin-top: 24px;
		}
	}

	.why {
		.row {
			>div {
				&:nth-child(3) {
					>div {
						border-top-right-radius: 0;
					}
				}
				&:nth-child(4) {
					>div {
						border-bottom-left-radius: 0;
					}
				}
			}
		}
	}

	#performance {
		.chart-card {
			width: 100%;
			padding: 0;
			margin-top: 24px;
		}
		.popup-fixed {
			&:before {
				right: 50%;
				top: auto;
				bottom: -6px;
				margin-left: 0;
				margin-right: -3px;
			}
		}
	}

	#testimonials {
		.container {
			max-width: none;
			width: 100%;
		}
		.testimonials {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@media (max-width: 767px) {

	h1 {
		font-size: 40px;
		letter-spacing: -.02rem;
		margin-bottom: 1.5rem;
	}

	h2 {
		letter-spacing: 0;
		margin-bottom: 1rem;
	}

	.xs-hide {
		display: none!important;
	}

	.section {
		padding: 60px 0;
	}

	.section-lg {
		padding: 70px 0;
	}

	.section-title {
		padding-bottom: 40px;
	}

	.home-header {
		padding: 72px 0;

		h1 {
			margin-bottom: 18px;
		}
		&__table {
			margin-top: 36px;
		}
		&__form {
			margin-top: 36px;

			.form--col {
				flex: 0 0 50%;
			}
		}
	}

	.why {
		.row {
			>div {
				&:first-child {
					>div {
						border-top-right-radius: 12px;
					}
				}
				&:last-child {
					>div {
						border-bottom-left-radius: 12px;
						border-bottom-right-radius: 12px;
					}
				}
			}
		}
	}

	.custom-card {
		padding: 25px;

		img {
			margin-bottom: 20px;
		}
	}

	.header {
		padding: 72px 0;

		br {
			display: none;
		}
	}

	.portfolio {
		.container {
			max-width: none;
			width: 100%;
		}
	}

	.card-team {
		margin: 0 15px 0 0;

		&__image {
			height: 204px;
			background-size: auto 100%;
			background-position: left;
		}
	}

	.contacts {
		&__card {
			flex-direction: column;

			.col {
				flex: 0 0 auto;
				padding: 30px;
				order: 2;

				&:last-child {
					order: 1;
				}
			}
		}
	}

	.features {
		margin-bottom: 36px;
		padding-right: 12px;
	}

	.accordion-wrap {
		.accordion {
			padding: 18px;

			&__body {
				padding-right: 0;
			}
		}
	}

	.post-card {
		&--large {
			flex-direction: column;
		}
	}

	.blog-sidebar {
		padding-top: 0;
		padding-left: 0;
	}

	.table-stories {
		thead {
			th {
				white-space: nowrap;
			}
		}
	}

	.footer {
		&__brand {
			padding-bottom: 12px;
			margin-top: 24px;
		}

		&__footer {
			border-top: 1px solid rgba(255, 255, 255, 0.8);
			margin-top: 25px;
		}

		&__social {
			padding: 20px 0;
			display: flex;
		}

		&__copy {
			text-align: left;
			padding-top: 0;
		}
	}
}

@media (max-width: 500px) {
	.home-header {
		p {
			font-size: 1em;
			padding-right: 0;
		}

		.home-header {
			padding: 72px 0;

			&__form {
				margin-top: 36px;

				.form--col {
					flex: 0 0 100%;
				}
			}
			&__table {
				.caption {
					margin-bottom: 8px;
				}
				.table {
					display: flex;
					width: 100%;
					border: none;

					thead,
					tbody {
						display: block;

						tr {
							display: flex;
							flex-direction: column;
							height: 100%;
						}
					}

					thead th,
					tbody td {
						flex: 1 1 auto;
						min-height: 44px;
						border-bottom-width: 1px;
						//padding: 0.6rem 0;
						//border: none;
					}
					thead {
						flex: 0 0 70%;

						th {
							display: flex;
							flex-direction: column;
							//padding-right: 0.6rem;
						}
					}
					tbody {
						flex: 0 0 30%;

						td {
							//padding: 0.6rem 0;
						}
					}
				}
			}
		}
	}
	#performance {
		.chart-card {
			perspective: none;

			img {
				transform: rotate(0);
			}
		}
	}
	.portfolio {
		.col {
			flex: 1 1 auto;
			margin-bottom: 20px;
		}
	}
}
